@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Liter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.uppercase {
    text-transform: uppercase;
}

body {
    background: linear-gradient(to bottom,
     #003648 0%,
     #3745B4 50%,
     #18051F 100%
     );
    min-height: 100vh;
    margin: 0;

    /* Fontes */

    font-family: "Liter", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
}

main {
    height: 100%;
}

.card-container {
    height: 70vh;
}

/* Header */

    .header-index {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .log-div {
        background-color: #E1E1E1;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 2rem;

        height: 80%;

        margin-right: 5rem;
        margin-top: 1rem;
        border-radius: 5px;
    }

    .log-div span {
        padding-left: 2rem;
    }

    .logout {
        background-color: #262626;
        text-align: center;

        padding: 0.5rem 3rem;
        margin: 0.5rem;
        border-radius: 5px;
    }

    .log-div a {
        color: white;
        text-decoration: none;
        font-weight: 500;
    }

    header img {
        width: 5rem;
        margin-left: 5rem;
        margin-top: 1rem;
    }

/* ================================ */
/*        login.html e outros       */
/* ================================ */

    /* Card de redirecionamento */

        .card-redirection {
            background-color: #E1E1E1;

            /* Configuração flex  */
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            width: 30vw;
            border-radius: 20px 0px 0px 20px;

            color: #000000;

        }

        .card-container h2 {
            font-weight: 700;
            font-size: 1.5rem;
        }

        .card-container h1 {
            font-weight: 800;
        }

        .card-container h1 span{
            color: #0082AE;
        }

        .card-container p {
            font-size: 0.8rem;
            margin-top: 2rem;
        }

        .card-container .btn-custom {
            background-color: #262626;
            color: white;
            width: 250px;
            height: 50px;

            font-weight: 500;
            font-size: 0.9rem;   
        }

        .card-container .btn-custom:active {
            background-color: #262626;
            color: white;
        }


    /* Card com forumlários */

        .card-form {
            background-color: #262626;

            /* Configuração flex  */
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            width: 30vw;
            border-radius: 0px 20px 20px 0px;

            /* Cor da letra */
            color: #E1E1E1;
        }

        .card-form h1{
            font-size: 1.8rem;
        }

        .card-register form, .card-login form {
            width: 80%;
        }

        .input-container {
            display: flex;
            flex-direction: column;
            font-weight: 400;
            font-size: 0.9rem;
        }

        .input-container input, .input-container select {
            background-color: transparent;
            border: 1px solid white;
            margin-top: 6px;
            margin-bottom: 15px;

            border-radius: 2px;
            width: 100%;
            height: 2rem;

            color: white;

            padding: 10px;
        }

        .custom-input-loginAndRegister {
            height: 50px;
        }

        .custom-input-loginAndRegister:focus, .custom-input-loginAndRegister:hover {
            box-shadow: 0px 0px 10px 0px #ffffff;
        }

        form a {
            text-decoration: none;
            font-size: 0.7rem;
        }

        .input-submit {
            height: 50px;
            margin-top: 6px;
            border-radius: 5px;
            border: none;

            font-weight: 800;
            color: #262626;
        }

    /* Footer */

        footer {
            display: flex;
            justify-content: center;
            align-items: center;

            padding: 0.5rem;

            position: fixed;
            bottom: 0;
            width: 100%;

            font-size: 0.8rem;

            font-weight: 400;
            background-color: #060817;
            color: #ffffffc2;
        }

    /* Responsividade */

    @media (max-width: 980px) {
        .card-redirection {
            display: none;
        }

        .card-login, .card-register {
            border-radius: 10px;
            width: 100%;
        }

        .card-container {
            width: 70%;
        }
    }

/* ================================ */
/*      Fim login.html e outros     */
/* ================================ */

/* ================================ */
/*        index.html e outros       */
/* ================================ */

/* Cards form */
    .card-form-custom-index {
        margin-top: 2rem;

        background-color: #14004039;
        border-radius: 10px;
        width: 40vw;

        box-shadow: -2px 2px 0px 0px #00000035;
    }

    .card-form-custom-index .tittle {
        background-color: #2020204e;
        width: 100%;

        font-size: 0.9rem;
        font-weight: 500;
        padding: 0.5rem;

        padding-left: 15px;

        border-radius: 10px 10px 0px 0px;
    }

    .card-form-custom-index .input-submit {
        margin: 1rem 0rem;
        height: 2.5rem;
    }

    .card-form-custom-index form {
        width: 100%;
        padding: 1rem 1rem;
    }

    .select select{
        padding: 0px;
        font-size: 0.9rem;

        color: rgb(226, 232, 255);
    }

    option {
        background-color: #202020;
        color: white;

        padding-left: 1rem;
    }

    #calcular {
        display: flex;
        flex-direction: column;
        justify-content: start;

        height: 100%;
    }

    #table {
        width: 90%;
        padding: 0;
        
        margin-bottom: 5rem;
    }

    /* Table */
        table {
            width: 98%;
            margin: 0.7rem 0;
            border-collapse: collapse;
        }
        
        thead {
            background-color: #111;
            color: white;
        }
        
        th, td {
            padding: 12px;
            text-align: left;
        }
        
        td {
            color: #000000;
            font-weight: 400;
        }

        tbody tr:nth-child(odd) {
            background-color: #eee; /* cinza claro */
        }
        
        tbody tr:nth-child(even) {
            background-color: #ddd; /* cinza um pouco mais escuro */
        }

        .acao {
            display: flex;
            gap: 0.5rem;
        }